################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/DovahkiinLounge.Functions/obj
/DovahkiinLounge.Lang/obj
/DovahkiinLounge.Memory/obj
/Updater/obj
/xCheats/obj
/xCheats Launcher/obj
/.vs
/AltoHttp/obj
/AltoHttp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/DovahkiinLounge Launcher/obj
/AltoHttp/bin/Debug
/Updater/Updater.cs
/DovahkiinLounge/obj/Release/net8.0-windows8.0/DovahkiinLounge.dll
/DovahkiinLounge/obj/Release/net8.0-windows8.0/de/DovahkiinLounge.resources.dll
/DovahkiinLounge/obj/Release/net8.0-windows8.0/DovahkiinLounge.csproj.AssemblyReference.cache
